@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg,#171717,#2b2b2b 20%,#2b2b2b 80%,#171717);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

nav {
  background: linear-gradient(180deg, #202020 22.22%, #242424 100%);
  border-bottom: 1px solid #000000;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25), inset 0px 0px 7px rgba(255, 255, 255, .08);
  height: 60px;
}

.layoutGrid {
  display: grid; 

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  
  gap: 0px;
  height: 100vh;
  
}

.nav-rc {
  align-content: center;
  display: flex;
  max-width: 1200px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-items-container {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.nav-items {
  color: white;
  display: flex;
  list-style: none;
}

a {
  all: unset;
}

.nav-items > li {
  color: white;
  cursor: pointer;
  padding-left: 1vw;
  font-weight: 600;
}

.nav-items > li:hover {
  color: gold;
}

.hero-rc {
  background-image: url(./rcheader.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding-block: 10vh;
}

.hero-search-rc {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
  color: white;
}

.search {
  all: unset;
  background: #F9F9F9;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: 25vw;
  min-width: 300px;
  border-radius: .5em;
  padding-left: 2vw;
  font-size: 1em;
  margin-right: 0;
  border-radius: .5em 0 0 .5em;
  box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #2b2b2b;
}

.logo {
  position: absolute;
  top: 5px;
  height: 50px;
  cursor: pointer;
}

.searchBar {
  display: flex;
  flex-direction: row;
}

.searchButton {
  all: unset;
  font-size: 1em;
  background-color: #235886;
  border-radius: 0 .5em .5em 0;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: inset 0px 0px 17px rgba(0, 0, 0, 0.19);
  font-weight: 500;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  border-right: 1px solid #2b2b2b;
  cursor: pointer;
}

.maincontent-container-rc {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.maincontent-item-container {
 width: 32%;
 color: white;
 display: flex;
 flex-direction: column;
 gap: 5px;
 line-height: .7;
}

.song-card-third {
  background-color: #42424265;
  border-radius: .5em;
  border: 1px solid #262626;
  display: flex;
  height: 8vh;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
  overflow: hidden;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.song-card-third:hover {
  background-color: #212121;
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.45);
  border: 1px solid #424242;
}

.song-card-third > img {
  width: auto;
  height: 100%;
}

.song-card-created:hover {
  background-color: #212121;
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.45);
  border: 1px solid #424242;
}

.maincontent-item-recentsongs {

}

.maincontent-item-lastplayed {

}

.songInfo {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.songInfo > p {
  margin-bottom: -4px;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.songInfoSong {
  font-weight: 700;
  font-size: calc(1em);
  color: #e4ae09;
}

.songInfoMapper {
    color: #f4505d;
    font-size: .8em;
}

.songInfoArtist {
  color: rgb(214, 214, 214);
  font-size: calc(.9em);
}

.SongCardMapper {
  color: #f4505d;
  font-size: .8em;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  line-height: 1;
  width: 100px;
  gap: 5px;
  text-overflow: clip;
}

.SongCardMapper > p {
  margin: 0;
}

.difficultyContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.difficultyDot {
  background-color: rgb(0, 162, 0);
  border-radius: .6em;
  font-size: .7em;
  text-align: center;
  font-weight: 600;
  color: rgb(255, 255, 255);
  width: 15px;
  padding-block: 4px;
}

#medium {
  background-color: rgb(164, 120, 0);
}

#hard {
  background-color: rgb(176, 0, 0);
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.angry-grid {
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  
  grid-template-areas: 
 'Picture logo-header'
 'Picture Form'
 'Picture Form';
  height: 100%;
  gap: 0px;
}
 
#item-0 {

  background-color: #5d9a51; 
  grid-area: Picture;
  background-image: linear-gradient(90deg, rgba(43, 43, 43, 1) 0%, rgba(238, 130, 238, 0) 100%),
url("https://survive-vr.fr/wp-content/uploads/2020/03/Salle-jeu-realite-virtuelle-nantes-vr-survive.png");
background-size: cover;
background-position: center;
z-index: -1;
box-shadow: inset -21px 0px 21px -2px rgba(0,0,0,0.25);
border-right-style: solid;
border-color: #232323;
}
#item-1 {
  display: flex;
  justify-content: center;
  grid-area: Form;
}
#item-2 {
  grid-area: logo-header; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5em;
  color:#ffdf28;
}

.footerContainer {
  display: flex;
  Background-color: #242424;
  align-items: center;
  width: 100%;
  height: 78px;
}

select {
  background-color: #3a3a3a;
  color: rgb(224, 224, 224);
  border-bottom: 4px solid gold;
  border-left: 1px solid gold;
  border-right: 1px solid gold;
  border-top: 1px solid gold;
  padding-block: 12px;
  padding-left: 20px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  font-weight:600;
  font-size: .9em;
}

.footerItems {
  Display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  color: white;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.footerItems > i {
  color: #f4505d;
}

.gridContainer {
  width: auto;
  height: calc(100vh - 60px);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 50%;
}

.submitForm {
  display: flex;
  flex-direction: column;
}

.submitForm > p {
  line-height: .5em;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.submitForm > button {
  margin-top: 2vh;
}

.submitForm > H1 {
  line-height: .8em;
}

.button {
  background-color: rgb(0, 51, 98);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: white;
  padding-left: 0px;
  box-shadow: inset 0px 0px 10px 0px rgba(7, 99, 192, 0.483);
  color:#ffffff;
  font-size: 1.3em;
  border: 1px solid #395fb0;
}

#submit {
  border-radius: .5em;
  padding-block: 1vh;
}

button {
  all: unset;
  background-color: gold;
  text-align: center;
  border-radius: 3em;
  font-weight: 700;
  cursor: pointer;
  color: rgb(62, 58, 0);
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  font-size: 1em;
}

.button:hover {
  box-shadow: inset 0px 0px 30px 0px rgba(68, 148, 228, 0.631);
  border: 1px solid #829fdd;
}

.button:active {
  background-color: #395fb0;
}

input {
 all: unset;
 background-color: #3a3a3a;
 color: white;
 font-weight: 500;
 border-bottom: 4px solid gold;
 border-left: 1px solid gold;
 border-right: 1px solid gold;
 border-top: 1px solid gold;
 padding-block: 10px;
 padding-left: 20px;
 border-top-left-radius: .5em;
 border-top-right-radius: .5em;
 caret-color: gold;
}

::placeholder {
  color: rgb(199, 199, 199);
  font-weight: 300;
}

.slContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5vh;
  color: white;
}

.ssContainer {
  display: flex;
  width: 1200px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.ssForm {
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.179);
  padding-right: 30px;
  box-shadow: 15px 0px 74px -41px rgba(0,0,0,0.47);
  min-width: 330px;
}

.ssCardList {
  display: flex;
  gap: 2vh;
  margin-top: 2vh;
  flex-wrap: wrap;
  margin-left: 5vh;
  align-content: flex-start;
}

@media only screen and (max-width: 960px) {
  .maincontent-container-rc {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }

  .maincontent-item-container {
    width: 90%;
    max-width: unset;
  }

  .nav-rc {
    overflow: hidden;
  }

  .hero-rc {
    padding-left: 5%;
    padding-right: 5%;
    padding-block: 4vh;
  }

  .search {
    min-width: 250px;
  }
}